[Desktop Entry]
Encoding=UTF-8
Name=Ice WM
Name[ca]=Gestor Ice
Name[da]=IceWM
Name[gl]=IceWM
Name[ko]=Ice WM
Name[no]=Ice vindushåndterer
Name[pl]=IceWM
Exec=icewm
TryExec=icewm

[Window Manager]
SessionManaged=true
# vi: encoding=utf-8
