[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=icewm-session
TryExec=icewm-session
Name=IceWM
Name[af]=Icewm
Name[sv]=Ice WM
Comment=A Win95-OS/2-Motif-like window manager
Comment[lo]=ຕົວຈັດການຫນ້າຕ່າງ IceWM
Comment[pl]=Zarządca okien podobny do Win95, OS/2 i Motifa
Comment[nl]=Een Win95-OS/2-Motif-achtige window manager
Comment[sr]=Win95-OS/2-Motif-олики менаџер прозора
Comment[sv]=En fönsterhanterare som liknar Windows 95-OS/2-Motif
Comment[th]=ตัวจัดการหน้าต่าง IceWM
# vi: encoding=utf-8
